.search {
  margin-top: 40px;
  &__icon {
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 15px;
  }
  &__button {
    position: relative;
    width: 100%;
    border: 0;
  }
  &__results {
    position: absolute;
    top: 28px;
    right: 115px;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #869ab8;
  }
  &__button-search {
    position: absolute;
    font-weight: 900;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    right: 15px;
    top: 7px;
    padding: 12px 15px 13px 15px;
    color: #fff;
    cursor: pointer;
    background: #335eea;
    border-radius: 6px;
  }
  &__input {
    position: relative;
    height: 65px;
    border-radius: 5px;
    width: 87%;
    padding-left: 40px;
    border: none;
    box-shadow: 0px 8px 24px rgba(22, 27, 45, 0.1);
    &::placeholder {
      font-weight: 900;
      font-size: 17px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #161c2d;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .search {
    &__input {
      width: 94%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .search {
    &__input {
      width: 94%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .search {
    &__input {
      width: -webkit-fill-available;
    }
  }
}
