.search {
  margin-top: 40px;
  background-color: #fff;
}

.search__icon {
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  margin-left: 15px;
}

.search__button {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 15px;
}

button {
  padding: 5px 5px 5px 5px;
  color: #fff;
  cursor: pointer;
  background-color: $blue-dark;
  border-radius: 5px;
}

.search__input {
  position: relative;
  height: 40px;
  border-radius: 5px;
  width: 87%;
  padding-left: 40px;
}

.search__input:hover {
  border-color: $blue-dark;
  border: 2px solid $blue-dark;
}

@media only screen and (min-width: 768px) {
  .search__input {
    width: 94%;
  }
}

@media only screen and (min-width: 1024px) {
  .search__input {
    width: 96%;
  }
}
